<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=LAPTOP-DF4FO9PB\SQLEXPRESS;Initial Catalog=db_Gimnasio;Integrated Security=True;Encrypt=False" name="CadenaConexionDB" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>